@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600&display=swap');
@import './components/header.css';
@import './components/movies.css';

:root {

    /* Colors */
    --dark-blue-primary: #17162E;
    --dark-blue-secondary: #1D1C3B;
    --light-gray: #ACACAC;
    --gray: #8A8A8A;
    --search: rgba(255, 255, 255, 0.2);
    --checkbox: #706EA8;
    --white: #FFF;
    --red: #BA0707;

    /* Typography */
    --title-size: 3.6rem;
    --title-weight: 600;
    --text-size: 1.8rem;
    --search-weight: 500; 
    --family: 'Kumbh Sans', sans-serif;

    /* Font Size */
    font-size: 62.5%;

}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--dark-blue-primary);
    font-family: var(--family);
}